faiss-cpu        # or the latest version that is compatible with your setup
pandas            # or the latest version compatible with your environment
streamlit       # or the latest version compatible with your environment
langchain        # or the latest version compatible with your environment
google-ai-generativelanguage==0.6.10
google-api-core==2.21.0
google-api-python-client==2.149.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.3
googleapis-common-protos==1.65.0
pydantic         # or the latest version compatible with your environment
pymongo          # or the latest version compatible with your environment

